{% extends "base.html" %}
{% block content %}
    <div class="container about-wrapper animate-fadeIn  flex flex-row mx-auto max-w-[100%] relative pt-20">
        <div class="education-box text-4xl font-light px-5 text-white w-[50%] ">
            <i class="fa-solid fa-award animate-pulse"></i>&nbsp;Education
            <div class="px-16 pt-10">
                {% for a in about %}
                    <div class="flex text-white font-light flex-col">
                        <span class="text-2xl -ml-6 py-2"><i class=" px-2 fa-solid fa-location-dot animate-dab flex-row"></i>&nbsp;{{ a.branch }}</span>
                        <span class="text-xl">{{ a.college }}</span>
                        <span class="text-lg">{{ a.college_description }}</span>
                        <span class="text-base">{{ a.college_location }}</span>
                        <span class="text-base">{{ a.country }}</span>
                        <div class="flex text-sm">
                            <span class="text-sm pr-10">{{ a.duration }}</span>
                            {% if a.grade_col %}<span class="text-sm">CGPA:&nbsp;{{ a.grade_col }}</span>{% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="px-16 pt-10">
                {% for a in about %}
                    <div class="flex text-white font-light flex-col">
                        <span class="text-2xl -ml-6 py-2"><i class=" px-2 fa-solid fa-location-dot animate-dab  flex-row"></i>&nbsp;{{ a.school }}</span>
                        <span class="text-xl">{{ a.stream }}</span>
                        <span class="text-lg">{{ a.school_location }}</span>
                        <span class="text-base">{{ a.country }}</span>
                        <div class="flex text-sm">
                            <span class="text-sm pr-10">{{ a.duration1 }}</span>
                            {% if a.grade1 %}<span class="text-sm">Grade:&nbsp;{{ a.grade1 }}</span>{% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="px-16 pt-10 pb-5">
                {% for a in about %}
                    <div class="flex text-white font-light flex-col">
                        <span class="text-2xl -ml-6 py-2"><i class=" px-2 fa-solid fa-location-dot animate-dab  flex-row"></i>&nbsp;{{ a.school }}</span>
                        <span class="text-xl">{{ a.stream1 }}</span>
                        <span class="text-lg">{{ a.school_location1 }}</span>
                        <span class="text-base">{{ a.country }}</span>
                        <div class="flex text-sm">
                            <span class="text-sm pr-10">{{ a.duration2 }}</span>
                            {% if a.grade2 %}<span class="text-sm">Grade:&nbsp;{{ a.grade2 }}</span>{% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% for a in about %}
            {% if a.Achievement1 %}
        <div class="container achievement-box w-[50%] mt-8 ml mx-auto py-auto px-auto">
                    <div class=" box1 text-white flex flex-col justify-start mb-4">
                        <span class="text-3xl font-light pb-10 "><i class="fa-solid fa-shield animate-pulse"></i> Achievements
                        </span>
                    </div>
                    <div class=" box2 flex flex-col text-white text-base font-extralight w-[45%]">
                        {% if a.Achievement1 %}
                            <div class="flex flex-row items-baseline a1">
                                <i class=" fa-solid fa-bullseye my-4 animate-dab px-2 "></i>
                                <span class=""> &nbsp;{{ a.Achievement1 }}</span>
                            </div>
                           
                        {% endif %}
                        {% if a.Achievement2 %}
                            <div class="flex flex-row items-baseline ">
                                <i class="fa-solid fa-bullseye my-4 animate-dab px-2"></i>
                                <span> &nbsp;{{ a.Achievement2 }}</span>
                            </div>
                           
                        {% endif %}
                        {% if a.Achievement3 %}
                            <div class="flex flex-row items-baseline">
                                <i class="fa-solid fa-bullseye my-4 animate-dab px-2"></i>
                                <span > &nbsp;{{ a.Achievement3 }}</span>
                            </div>
                           
                        {% endif %}
                        {% if a.Achievement4 %}
                            <div class="flex flex-row items-baseline">
                                <i class="fa-solid fa-bullseye my-4 animate-dab px-2"></i>
                                <span>&nbsp;{{ a.Achievement4 }}</span> 
                            </div>
                            
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
