{% extends "base.html" %}
{% block content %}
<div class="pt-20 pb-10">
    <div
        class="container :h-60  w-3/5 mx-auto py-10 flex flex-col rounded-md  shadow-2xl p-6 border-gray-400 animate-fadeIn">
        <div class="text-center flex flex-col text-white font-light text-3xl">
            <span class="text-base text-left font-medium text-green-400">I want to hear from you</span>
            <span class="pb-10">Contact Me</span>
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name"
                class=" border border-gray-200 mr-2  rounded-md py-4 mb-5 font-light text-lg text-left px-4 border-solid focus:outline-none focus:border-gray-600"
                placeholder="Enter Your Name">
            <input type="email" name="email"
                class="w-2/5 mb-5 border border-gray-200 rounded-md py-4 font-light text-lg text-left px-5 border-solid focus:outline-none focus:border-gray-600"
                placeholder="Enter Your Email">
            <input type="text" name="Subject"
                class="w-full mb-5 border border-gray-200 rounded-md py-4 font-light text-lg text-left px-5 border-solid focus:outline-none focus:border-gray-600"
                placeholder="Enter Subject">
            <input type="textarea" name="message"
                class="w-full mb-5 border border-gray-200 rounded-md py-16 px-5 font-light text-lg text-left border-solid focus:outline-none focus:border-gray-600"
                placeholder="Enter Your Message">
            <button
                class="w-1/4 text-center rounded-md py-5 font-light text-lg animate-dab bg-green-500 text-white hover:bg-green-700">Send
                Message</button>

        </form>
        <span class="text-left text-lg text-white pt-4 mb-4 animate-pulse font-light ">I will get to you in a
            moment</span>
    </div>
</div>
{% endblock content %}