{% block nav %}
    <div class=" container max-w-full mt-14  px-2 h-14">
        <div class=" ml-2  flex flex-col justify-start ">
            <div class="blink devman text-xl text-left">
                <span class=" text-left italic font-light">{{ user.dev_domain }}</span>
                <img src="https://code.google.com/images/developers.png" alt="eloper">
            </div>
            <div class="blink devman time-container">
                <span class="text-xs italic -mt-1 font-extralight">{{ ist_time }}</span>
            </div>
        </div>
    </div>
{% endblock nav %}
