{% block nav %}
    <div class=" container max-w-full bg-purple-900 h-14">
        <div class=" ml-2 flex flex-col justify-start ">
            <div class="blink devman text-left">
                <span class="my-1 text-left">{{ user.dev_domain }}</span>
                <img src="https://code.google.com/images/developers.png" alt="eloper">
            </div>
            <div class="blink devman time-container">
                <span class="text-sm -mt-2 font-extralight">{{ ist_time }}</span>
            </div>
        </div>
    </div>
{% endblock nav %}
