{% extends 'base.html' %}

{% block content %}
<div class="py-20 px-20">
    <div class="container">
        {% for p in project %}
        <h2 class="text-2xl">{{ p.Project_title }}</h2>
        <p>{{ p.Project_info | safe }}</p>
        {% for photo in all_photos %}
        <div class="conatainer bg-white  py-4 px-4 mx-3 my-3">
            <img class="rounded-md" src="{{ photo.Project_Image.url }}" alt="Project Image">
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}