{% extends 'base.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container py-10 px-8 box-content">
    {% for p in project %}
    <div class="flex-col px-4">
        <div class="container text-white w-3/4 max-w-full bg py-5">
            <div>
                <h2 class="text-4xl font-semibold pt-10 pb-5">{{ p.Project_title }}</h2>
                <span class="text-lg text-gray-400">Built With</span>
                <h2 class="text-lg font-semibold pb-2">{{ p.language_used }}</h2>
                <span class="ml-10">
                    <p>{{ p.Project_info | safe }}</p>
                </span>
            </div>
        </div>
        <div class="container animate-fadeIn photocontainer pb-5 h-max">
            <div class="slider flex flex-row bg-cover">
                {% for photo in all_photos %}
                {% if photo.project == p %}
                <img class="photo" src="{{photo.Project_Image.url}}" alt="{{photo.page_details}}">
                {% endif %}
                {% endfor %}
            </div>
            <button class="prev bg-gray-300 rounded-full shadow-2xl "><i
                    class="fa-solid fa-arrow-left text-xl "></button></i>
            <button class="next bg-gray-300 rounded-full shadow-2xl "><i
                    class="fa-solid fa-arrow-right text-xl"></button></i>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function () {
        var slideIndex = 0;
        showSlides();
        $(".prev").click(function () {
            slideIndex -= 1;
            showSlides();
        });
        $(".next").click(function () {
            slideIndex += 1;
            showSlides();
        });
        var timer = setInterval(function () {
            slideIndex += 1;
            showSlidesWithAnimation();
        }, 2000);
        function showSlides() {
            var slides = $(".photo");
            if (slideIndex >= slides.length) {
                slideIndex = 0;
            }
            if (slideIndex < 0) {
                slideIndex = slides.length - 1;
            }
            slides.hide();
            slides.eq(slideIndex).show();
        }
        function showSlidesWithAnimation() {
            var slides = $(".photo");
            if (slideIndex >= slides.length) {
                slideIndex = 0;
            }
            if (slideIndex < 0) {
                slideIndex = slides.length - 1;
            }
            slides.fadeOut(500);
            slides.eq(slideIndex).fadeIn(500);
        }
    });
</script>
{% endblock content %}