{% extends 'base.html' %}
{% block content %}
<div class="container min-w-full relative">
  {% for user in User %}
  <div class=" flex ml-10 my-10">
    <div class=" intro mt-5">
      <h1 class="animate-fadeIn text-3xl text-white font-light ml-10 mb-5">{{ user.name }}</h1>
      <h2 class="animate-fadeIn text-xl text-white  font-light ml-10 ">{{ user.intro }}</h2>
      <div class="animate-fadeIn container w-4/5 font-light text-xl ml-5 px-3 py-3 ">
        <h3 class="animate-fadeIn text-white">{{ user.bio }}</h3>
        <h3>Hire me</h3>
      </div>
    </div>
    <div class=" sliding-container bg-cover bg-top rounded-md mr-16  mt-36"
      style="background-image:url({{ user.avatar.url }});"></div>
  </div>
  {% endfor %}
</div>

{% endblock %}