{% extends 'base.html' %}
{% block title %}Pravin Kumar{% endblock %}
{% block content %}
  <div class="mx-10 my-10">
    <div class=" intro mt-5">
      {% for user in User %}
        <h1 class="animate-fadeIn text-3xl text-white font-light ml-10 mb-5">{{ user.name }}</h1>
        <h2 class="animate-fadeIn text-xl text-white  font-light ml-10">{{ user.intro }}</h2>
        <div class="animate-fadeIn container w-2/4 font-light text-xl ml-5 mr-auto px-3 py-3 0">
          <h3 class="animate-fadeIn text-white">{{ user.bio }}</h3>
        </div>
      {% endfor %}
    </div>
    <div class="sliding-container bg-cover bg-top rounded-md mr-16  mt-44"
         style="background-image: url(/static/images/pic.jpg)"></div>
  </div>
{% endblock %}
