{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/ca547ebe4a.js"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <header class="container max-w-full">
    {% include 'home/nav.html' %}
  </header>
  <body class="bg-cover bg-fixed"
        style="background-image: url(static/images/bg1.png)">
    <div id="content ">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
